[Unit]
Description=The kbx-hello server
After=network.target docker.service

[Service]
Type=simple
ExecStart=/usr/bin/kbx-hello-server
ExecStop=/usr/bin/docker kill kbx-hello-server

[Install]
WantedBy=multi-user.target
