[Unit]
Description=The kbx-hello server
After=network.target docker.service

[Service]
Type=simple
ExecStart=/usr/bin/kaboxer run kbx-hello-server
ExecStop=/usr/bin/kaboxer stop kbx-hello-server

[Install]
WantedBy=multi-user.target
