[Desktop Entry]
Name=hello-cli
GenericName=Hello World app for kaboxer (text-mode client)
Exec=kaboxer run hello-cli
Terminal=true
Type=Application
Categories=Development
