Source: kaboxer
Section: devel
Priority: optional
Maintainer: Kali Developers <devel@kali.org>
Uploaders:
 Roland Mas <lolando@debian.org>,
 Raphaël Hertzog <raphael@offensive-security.com>
Build-Depends:
 debhelper-compat (= 12),
 dh-python,
 pandoc,
 python3
Standards-Version: 4.5.0
Homepage: https://gitlab.com/kalilinux/tools/kaboxer
Vcs-Git: https://gitlab.com/kalilinux/tools/kaboxer.git
Vcs-Browser: https://gitlab.com/kalilinux/tools/kaboxer

Package: kaboxer
Architecture: all
Depends:
 docker.io,
 libfile-copy-recursive-perl,
 libyaml-libyaml-perl,
 python3-docker,
 python3-dockerpty,
 python3-git,
 python3-jinja2,
 python3-packaging,
 python3-prompt-toolkit,
 python3-requests,
 python3-tabulate,
 python3-yaml,
 sudo,
 ${misc:Depends},
 ${python3:Depends}
Description: Kali Application Boxer
 A framework for deploying applications to run in containers
