Source: kaboxer
Section: devel
Priority: optional
Maintainer: Kali Developers <devel@kali.org>
Uploaders: Roland Mas <lolando@debian.org>, Raphaël Hertzog <raphael@offensive-security.com>
Build-Depends: debhelper-compat (= 12), python3, dh-python
Standards-Version: 4.5.0
Homepage: https://gitlab.com/kalilinux/tools/kaboxer
Vcs-Git: https://gitlab.com/kalilinux/tools/kaboxer.git
Vcs-Browser: https://gitlab.com/kalilinux/tools/kaboxer

Package: kaboxer
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, confget, libfile-copy-recursive-perl, sudo, python3-yaml, docker.io, python3-docker, python3-dockerpty, python3-jinja2, python3-prompt-toolkit, python3-packaging, python3-git, python3-distutils, python3-requests, libyaml-libyaml-perl, python3-tabulate
Description: Kali Application Boxer
 A framework for deploying applications to run in containers
